@import "tailwindcss";

body {
    font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
    visibility: hidden;
}

html,
body {
    min-height: 100%;
    background-color: #f9fafb;
    background-image: radial-gradient(black 0.8px, transparent 0.5px);
    background-size: 20px 20px;
    background-repeat: repeat;
}
